@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: "Quicksand", sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    margin: 0;
    padding: 1em 0;
}

p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 1em 0;
}

a.btn {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    color: #0094FF;
}

.btn{
    display: inline-block;
    padding: 1em 2em;
    margin: .5em 0;
}

/* HEADER SECTION */
nav {
    display: inline;
}

nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    font-weight: 400;

}
nav a:hover {
    font-weight: bold;
}

.middle {
    text-align: center;
}

/* CONTENT SECTION */

#section-a{
    background: #FFFFFF;
    color: #000000;
    padding: 2em;
    text-align: center;
}

.content-wrap{
    padding: 0 1.5em;
}

#section-b{
    background: #FFFFFF;
    color: #000000;
    padding: 2em;
    text-align: center;
}

#section-c{
    background: #FFFFFF;
    color: #000000;
    padding: 2em;
    text-align: center;
}

/* FOOTER SECTION */
footer {
    padding: 20px;
    color: white;
    background-color: rgb(37, 37, 37);
}

footer li {
    display: inline;
    padding-right: 20px;
}

.copyright{
    text-align: center;
    font-size: 18px;
}

#icon_copyright{
    width: 25px;
}

/* Media Queries */

@media (min-width: 1000px) {
    .grid {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      grid-gap: 10px;
      grid-auto-rows: 100px;
      grid-template-areas: 
        "a a a a b b b b"
        "a a a a b b b b"
        "c c c c c c c c"
        "c c c c c c c c";
    }

    #section-a{
        grid-area: a;
    }

    #section-b{
        grid-area: b;
    }

    #section-c{
        grid-area: c;
    }
}
  
