* {
    box-sizing: border-box;
    margin: 0;
}

@font-face{
    src: url(fonts/Quicksand-VariableFont_wght.ttf)
}

body {
    font-family: "Roboto", sans-serif;
}

/* Navigation */

.nav-container {
    background: #FFFFFF;
    height: 100px;
}

.nav-containerindex {
    background: #36393F;
    height: 100px;
}

.wrapper {
    max-width: 1853px;
    max-height: 2453px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
}

nav ul {
    display: flex;
}

nav .logo {
    list-style: none;
    display: flex;
}

nav .logo .alfalogo{
    width: 46.04px;
    height: 62.98px;
    margin-top: 15px;
    margin-left: 30px;
}

nav .logo .key{
    margin-top: 30px;
    margin-left: 20px;
}

nav .logo .keya{
    margin-top: 30px;
    margin-left: 20px;
}

nav .logo a{
    text-decoration: none ;
    color: #000000;
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
}

nav .logo .keya a{
    color: #FFFFFF;
}

.nav-items li {
    list-style: none;
    margin-right: 40px;
}

.nav-items li:nth-of-type(5){
    margin-right: 10px;
}

.nav-items li:nth-of-type(6){
    margin-right: 10px;
}

.nav-items li:nth-of-type(7){
    margin-right: 40px;
}

.nav-items li a {
    font-family: Helvetica;
    font-style: normal;
    text-decoration: none ;
    font-size: 20px; 
    color: #000000;
}

.nav-itemsindex li {
    list-style: none;
    margin-right: 40px;
}

.nav-itemsindex li:nth-of-type(5){
    margin-right: 10px;
}

.nav-itemsindex li:nth-of-type(6){
    margin-right: 10px;
}

.nav-itemsindexli:nth-of-type(7){
    margin-right: 40px;
}

.nav-itemsindex li{
    color: #FFFFFF;
}

.nav-itemsindex li a {
    font-family: Helvetica;
    font-style: normal;
    text-decoration: none ;
    font-size: 20px; 
    color: #FFFFFF;
}

/* headercontainer */
.header-container {
    background: #FFFFFF;
    height: calc(100vh-72px);
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.header-containerindex {
    background: #36393F;
    height: calc(100vh-72px);
    display: flex;
}

.header2-containerindex {
    background: linear-gradient(90deg, #CE2DD1 -5.97%, #A74ED8 19.74%, #8967DE 50.01%, #5F84D3 76.28%, #5F84D3 76.29%, #34A4C7 103.7%);
    height: calc(100vh-72px);
    display: flex;
}

.header3-containerindex {
    background: #FFFFFF;
    height: calc(100vh-72px);
    display: flex;
}

.header4-containerindex {
    background: #1C1B1B;
    height: calc(100vh-72px);
    display: flex;
}

.header-containerindex header{
    display: flex;
    margin-bottom: -8px;
    margin-left: -20px;
}

.header2-containerindex header{
    display: flex;
    margin : 0 -100px;
    margin-bottom: -30px;
}

.header3-containerindex header{
    display: flex;
    margin-top: 15px;
    margin-bottom: -30px;
}

.header4-containerindex header{
    display: flex;
    margin-top: 10px;
}


/*header*/

header .TulisanIndexP1 {
    text-align: left;
    margin-top: 100px;
}

header .TulisanIndexP1 h1{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 75px;
    align-items: center;
    color: #FFFFFF;
}

header .TulisanIndexP1 p{
    font-family: Helvetica;/*Eina02-Light/avenir gada cuk*/
    font-style: normal;
    font-size: 25px;
    align-items: center;
    color: #FFFFFF;
}

header .TulisanP1 h1{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 75px;
    align-items: center;
    text-align: center;
    color: #000000;
}
header .TulisanP1 p{
    font-family: Helvetica;/*Eina02-Light/avenir gada cuk*/
    font-style: normal;
    font-size: 25px;
    align-items: center;
    text-align: center;
    color: #000000;
}

header .photoaziz{
    margin-left: +280px;
}
header .photos1{
    width: 600px;
    height: 688px;
}

header .tombol {
    align-items: center;
    text-align: center;
    margin-top: 220px;
}

header .tombol a{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none ;
    color: #FFFFFF;
    background: #2994FF;
    border-radius: 44px;
    padding: 20px 72px;
    display: inline-block;
    transition: 300ms;
}

header .tombol a:hover {
    transform: translateY(+8px);
}

header .TulisanIndexP2 {
    text-align: center;
    margin: 15px 200px;
}

header .TulisanIndexP2 h1{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    align-items: center;
    color: #FFFFFF;
}

header .TulisanIndexP2 p{
    font-family: Helvetica;/*Eina02-Light gada cuk*/
    font-style: normal;
    font-size: 18px;
    align-items: center;
    color: #FFFFFF;
}

header .TulisanIndexP2 h1{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    align-items: center;
    color: #FFFFFF;
}

header .TulisanIndexP2 .msgsvg {
    margin-top: 40px;
}

header .TulisanIndexP2 .gearsvg {
    margin-top: -30px;
}

header .TulisanIndexP2 .msgsvg img{
    width: 220px;
    height: 180px;
}

header .TulisanIndexP2 .gearsvg img{
    width: 220px;
    height: 280px;
}

header .TulisanP2 {
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    align-items: center;
    text-align: center;
    color: #000000;
    margin-top: 300px;
    margin-bottom: 60px;
}

header .TulisanIndexP3 {
    text-align: left;
    margin-top: 10px;
 
}

header .TulisanIndexP3 h1{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    align-items: center;
    color: #000000;
}

header .TulisanIndexP3 p{
    font-family: Helvetica;/*Eina02-Light/avenir gada cuk*/
    font-style: normal;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
    color: #000000;
}

header .TulisanIndexP3 h2{
    font-family: Helvetica;
    font-style: normal;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: bold;
    text-align: right;
    align-items: center;
    color: #000000;
}

header .TulisanIndexP3 h3{
    font-family: Helvetica;
    font-style: normal;
    font-size: 22px;
    font-weight: normal;
    text-align: right;
    align-items: center;
    color: #000000;
}


header .FotoP3 {
    margin-left: +280px;
    margin-right: +100px;
}

header .FotoP3 img {
    
    width: 400px;
    height: 488px;
}

header .TulisanIndexP4 {
    text-align: center;
}

header .TulisanIndexP4 h1{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    align-items: center;
    color: #FFFFFF;
}

header .TulisanIndexP4 h2{
    font-family: Helvetica;
    font-style: normal;
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: left;
    align-items: center;
    color: #FFFFFF;
}

header .TulisanIndexP4 h3{
    font-family: Helvetica;
    font-style: normal;
    font-size: 22px;
    font-weight: normal;
    text-align: left;
    align-items: center;
    color: #FFFFFF;
}

header .TulisanIndexP4 .Members {
    display: flex;
}

header .TulisanIndexP4 .member1 {
    margin-right: 280px;
    margin-left: -200px;
    position: relative;
    text-align: center;
    color: white;
}

header .TulisanIndexP4 .member2 {
    /* margin-left: 600px; */
    position: relative;
    text-align: center;
    color: white;
}

header .TulisanIndexP4 .text1 {
    margin-right: -240px;
    position: absolute;
    top: 120px;
    right: 32px;
}

header .member1 img {
    height: 440px;
    width: 400px;
}

header .member2 img {
    height: 440px;
    width: 360px;
}

header .photoset,.photoset2 {
    display: flex;
}

header .ps1 {
    width: 320px;
    height: 380px;
    margin-right: 10px;
    margin-top: 10px;
}

/*footercontainer*/
.footer-containerindex {
    background: #000000;
    height: calc(100vh-72px);
    display: flex;
}

.footer-containerindex header{
    display: flex;
    margin-right: 1170px;
    margin-bottom: 100px;
}

.footer2-containerindex {
    background: #000000;
    height: calc(100vh-72px);
    display: flex;
}

.footer-containerindex header{
    display: flex;
    margin-top: 10px;
}

/*footer*/
header .ContactUsImage img{
    width: 40px;
    height: 80px;
}
header .ContactUsText{
    margin-top: 8px;
    margin-left: 20px;
}

header .ContactUsText h1{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    align-items: center;
    color: #FFFFFF;
}

header .ContactUsText h2{
    font-family: Helvetica;
    font-style: normal;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: left;
    align-items: center;
    color: #FFFFFF;
}

header hr{
    color: #434343;
    width: 1400px;
}

