body{
    overflow-x: hidden;
}

.middler {
    padding-top: 100px;
    text-align: center;
    padding-bottom: 100px;
}

/* .middlepart1 {
    padding: 10px 80px 0px 80px;
    text-align: center;
} */

.roundbutton{
    display: block;
    margin: 0px auto;
    width: 300px;
}

a{
    text-decoration: none;
}

.bluebutton{
    display: block;
	width: 100%;
    height: 70px;
    border: 5px solid #FFFFFF;
	border-radius: 50px;
	transition: .3s;
}
.bluebutton:hover{
    cursor: pointer;
}

.white{
    color: white; 
}

.P1 {
    font-size: 22px;
    font-weight: bold;
}

.P2{
    font-size: 11px;
}

.blue{
    color: #A00BA0;
    font-size: 50px;
    font-size: 50px;
}

.bluer{
    color: #1B1464;
}

.bg1{
    background-image: url(../assets/images/KreativPartOne.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg1 #section-a{
    padding:9% 0% ;
}
.headergrid{
    grid-template-columns: repeat(2,50%);
    grid-template-areas:
    "a b";
}
/* MAIN AREA */

.threefocustext{
    text-align: left;
    margin: auto;
    width: 90%;
    font-size: 17px;
    padding: 50px 0%;
}

.bigger{
    font-weight: bold;
}

.kreativPage{
    grid-template-columns: repeat(9, 120px);
    grid-gap: 5px;
    /* grid-auto-rows: 96px; */
    margin-bottom: 10%;
}

.ThreePillar{
    grid-template-areas: 
    "a a a a . b b b b"
    "a a a a . b b b b"
    "a a a a . b b b b"
    "d d d d . c c c c"
    "d d d d . c c c c";
}

.ThreePillar #section-a,.ThreePillar #section-b,.ThreePillar #section-c{
    padding: 10px 0px;
}
#section-d{
    grid-area: d;
    padding: 20px 0px;
}

#section-e{
    grid-area: e;
    padding: 20px 0px;
}


.OurTalents{
    margin-bottom: 30px;
    grid-template-areas: 
    "a a a b b b c c c"
    "a a a b b b c c c"
    "a a a b b b c c c";
}

.bg2{
    background-image: url(../assets/images/KreativOurTalent.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 3%;
}

.beforeWatchUs{
    margin-bottom: 30px;
    grid-template-areas: 
    "a a a a a b b b b";
}

main img{
    width: 75%;
}

.aset{
    width: 70%;
}

main ul{
    margin: 0;
    padding: 0;
}

#section-a{
    color: white;
}


.Video{
    background-color: #390C70;
    width: 1920px 1080px;
    margin: 0;
}


@media (max-width: 1140px){
    .kreativPage{
        grid-template-columns: repeat(9, 10%);
    }
    
    .OurTalents{
        grid-template-columns: repeat(9, 11%);
    }

    .beforeWatchUs{
        grid-template-areas: 
        "a a a a a b b b b b"
        "a a a a a b b b b b";
        grid-template-columns: repeat(10, 9%);
    }
}

@media (max-width:768px){
    main img{
        width: 30%;
    }

    .aset{
        width: 50%;
    }
    .headergrid{
        margin-top: 0;
        grid-template-columns: repeat(1,100%);
        grid-template-areas:
        "b"
        "a";
    }

    .bg1 #section-a{
        padding:0% ; 
    }
}

