/*Header*/

.alfalogo{
    padding: 10px;
    /* margin-left: 30px; */
    width: 100px;
}

nav a {
    color: black;
}

nav {
    background-color: transparent;
}

nav a:hover {
    color: black;
}

header {
    background-color: white;
    padding-bottom: 100px;
}

.middle {
    padding-left: 40px;
    padding-right: 40px;
}

.middlepart1 {
    padding: 10px 80px 0px 80px;
    text-align: center;
}

.roundbutton{
    margin-top: 100px;
    /* padding: 50px; */
    padding-top: 70px;
    margin: auto;
    width: 500px;
}

.bluebutton{
    background-color: #2994FF;
    border-radius: 65px;
    width: 500px;
    
    
}
.white{
    color: white; 
}

.P1 {
    font-size: 30px;
    font-weight: bold;
}

.P2{
    font-size: 15px;
}

.blue{
    color: #0968AC;
}

/* MAIN AREA */

.threefocustext{
    text-align: left;
    margin: auto;
    width: 90%;
    font-size: 1.5em;
}

.kreativPage{
    grid-template-columns: repeat(9, 120px);
    grid-gap: 5px;
    grid-auto-rows: 96px;
}

.ThreePillar{
    grid-template-areas: 
    "a a a b b b c c c"
    "a a a b b b c c c"
    "a a a b b b c c c"
    ". . . . . . . . ."
    ". d d d d e e e e"
    ". d d d d e e e e";
}
#section-d{
    grid-area: d;
}

#section-e{
    grid-area: e;
}


.OurTalents{
    margin-bottom: 30px;
    grid-template-areas: 
    "a a a b b b c c c"
    "a a a b b b c c c"
    "a a a b b b c c c";
}
